.shifting-title {
    font-size: 4rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: left;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}
  
.shifting-title.fade-in {
    opacity: 1;
}
  
.shifting-title.fade-out {
    opacity: 0;
}